<!DOCTYPE html>
<html lang="ko" style="height:100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>물품보관함 관리 시스템</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">   
</head>
<body style="height: 100%; display: table; margin: 0 auto;">
    <div style="height: 100%;display: table-cell;vertical-align: middle;">
        <div style="height: 500px; width: 700px; background-color: white;">

            <div>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">
                        <img src="backbutton.png" height="20px">
                    </a>
                    <a class="navbar-brand" href="#">추가요금 안내</a>
                </nav>
            </div>

            <div style="margin-top: 30px; margin-bottom: 15px; width: 650px; margin-left: 25px;"> 
                <span class="badge badge-primary" style="font-size: 15px; margin-bottom: 2px;">진행도</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                </div>
            </div>

            <div class="jumbotron" style="margin-left: 25px; width: 650px; height: 320px; padding-top: 20px;">
                <h3>추가요금 안내</h3>
                <div class="row">
                    <div class="col">
                        <p class="lead">물품 보관함 번호 : </p>
                        <p class="lead">추가 금액 : </p>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary btn-lg btn-block">결제 진행</button>
                    </div>
                </div>
                <hr class="my-4">
                <p>1회 이용 보관함으로 찾기를 하면 이용이 종료됩니다. 기본시간 내에 찾을 경우 추가요금이 없습니다. 기본시간 이후부터는 추가시간 단위로 추가요금이 계속하여 징수됩니다. 보관 후 3일이 지난 경우 관제센터로 물품이 이송되며 이 때부터는 요금과 서비스가 센터로 이관됩니다.</p>
            </div>



        </div>
    </div>
</body>
</html>